
.userList {
    margin: 20px 50px;
}

.userList h1{
    text-align: center;
}

.allUsersButtonContainer {
    position: fixed;
    top: 65vh;
    left: 10px;
    display: flex;
    justify-content: center;
    width: 350px;
}

.filterContainer {
    position: fixed;
    top: 30vh;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}